@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}



.button {
  width: 20rem;
  height: 6rem;
  background-color: #FB9400;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

