@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container-icone {
  display: flex;
  flex-direction: row;
  gap: 0 2.6rem;
}


.container-icone .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.container-icone .description .titulo {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.container-icone .description .linha {
  margin-bottom: 1.6rem;
}

.container-icone .icones {
  border: 4px solid #FB9400;
  padding: 2.6rem;
}



@media screen and (max-width: 1024px) {
  .container-icone {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 820px) {
  .container-icone {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  
  .container-icone {
      justify-content: space-evenly;
  }
  
}