* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  max-width: 140rem;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  
}
#AC{
  margin-left:260px;
}

header {
  
}

.menu-side {
  display: flex;
  width: 100%;
}

.menu-left {
  width: 50%;
  background-color: blue;
}

.menu-right {
  width: 50%;
  background: green;
}

h1 {
  font-size: 1.5rem;
}



.menu-search {
  height: 40rem;
  background: purple;
}

footer {
  max-width: 100%;
  min-height: 94rem;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center; */
}

/* @media (max-width: 768px) { 
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 480px) { 
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
} */