* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  max-width: 140rem;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  
}
header {
  display: flex;
  align-items: center;
}

#AC {
  margin-right: 5%;
  margin-left: 5%;
}

#Menu {
  display: flex;
  margin-left: 3%;
  padding: 1.9%;
  gap: 3%;
}

#Menu h1 {
  margin-right: 10%;
  font-family: Inter;
  font-size: 2.4rem;
}


.menu-side {
  display: flex;
  width: 100%;
}

.menu-left {
  width: 50%;
  background-color: blue;
}

.menu-right {
  width: 50%;
  background: green;
}

h1 {
  font-size: 1.5rem;
}



.menu-search {
  height: 40rem;
  background: purple;
}

footer {
  max-width: 100%;
  min-height: 94rem;
  /* background-color: yellow; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 44rem));
  grid-template-rows: repeat(2, minmax(0, 44rem));
  gap: 4rem;
  justify-content: space-between;
  align-content: center;
}

@media (max-width: 768px) { 
  footer {
    grid-template-columns: repeat(2, minmax(0, 44rem));
    grid-template-rows: repeat(3, minmax(0, 44rem));
  }
}

@media (max-width: 480px) { 
  footer {
    grid-template-columns: minmax(0, 44rem);
    grid-template-rows: repeat(6, minmax(0, 44rem));
  }
}